@using System.Drawing

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Timer Club</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css-bootstrap")
    @Styles.Render("~/Content/HeaderStyles.css")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/HeaderScripts.js")

</head>
<body>
    <div class="header">
        <div class="city-wrap">
            <img class="head-logo" src="~/Resources/svg/house.svg" style="width: 25px; margin-right: 0;">
            <img class="head-logo" src="~/Resources/svg/logo-white.svg">
            <span class="mobile-head-title" style="display: none;">Аренда мест в лучших салонах города</span>
            <span class="town">Город</span>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" @*data-toggle="dropdown"*@ aria-haspopup="true" aria-expanded="false">
                    <span>Ижевск</span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Питер</a>
                    <a class="dropdown-item" href="#">Ижевск</a>
                    <a class="dropdown-item" href="#">Казань</a>
                </div>
            </div>
        </div>

        <div class="icons-wrap">
            <span class="number"><a href="tel:+79512001144">8 951 200 11 44</a></span>
            <div class="cocialicons">
                <a href="https://www.instagram.com/timer.club/"><img src="~/Resources/img/instagram.png" alt=""></a>
                <a href="https://www.facebook.com/beauty.timer.club/"><img src="~/Resources/img/facebook.png" alt=""></a>
                <a href="https://vk.com/timer_beauty_club/"><img src="~/Resources/img/vk.png" alt=""></a>
            </div>

            <div id="userblock">
                <img src="~/Resources/svg/user.svg" id="faceicon">

                @if (Request.Cookies.AllKeys.Contains("ResidentName") && Request.Cookies.AllKeys.Contains("ResidentSurname"))
                {
                    <span id="residentname">
                        @(Server.UrlDecode(Request.Cookies["ResidentName"].Value) + " " + Server.UrlDecode(Request.Cookies["ResidentSurname"].Value))
                    </span>
                }
                else
                {
                    Response.Redirect("~/Authentication/LogOut");
                }


                    <img src="~/Resources/svg/down-arrow-white.svg" id="down-arrowstyle">
                    <div id="user-dropdown">
                        <div class="dropdown-row" id="to-personal-data-btn">
                            <img class="dropdown-img" src="~/Resources/svg/business-card-blue.svg" alt="">
                            <span>Личные данные</span>
                        </div>
                        <hr>
                        <div class="dropdown-row" id="to-booked-time-btn">
                            <img class="dropdown-img" src="~/Resources/svg/clock-blue.svg" alt="">
                            <span>Просмотр забронированного времени</span>
                        </div>
                        <hr>

                        <div class="dropdown-row" id="to-favorites-btn">
                            <img class="dropdown-img" src="~/Resources/svg/heart-blue.svg" alt="">
                            <span>Избранное</span>
                        </div>
                        <button onclick="document.location = '@Url.Action("LogOut", "Authentication")'" id="go-out">Выйти</button>
                    </div>
                </div>
        </div>
    </div>

    @RenderBody()

<div class="mobile-foot-nav" style="display: none;">
    <a class="foot-nav-option" href="../TimerClub/PersonalData">
        <img src="~/Resources/svg/business-card-white.svg" />
        <span>Личные данные</span>
    </a>
    <a href="../TimerClub/ViewBookedTime" class="foot-nav-option">
        <img src="~/Resources/svg/clock-white.svg" />
        <span>Просмотр забронированного времени</span>
    </a>
    <a href="../TimerClub/ViewFavorites" class="foot-nav-option">
        <img src="~/Resources/svg/heart-white.svg" />
        <span>Избранное</span>
    </a>
</div>
@RenderSection("scripts", required: false)
</body>
</html>
