@using System.Web.UI.WebControls
@using MasterReservation.Models
@using MasterReservation.Utilities
@model ChangePasswordModel


@{
    ViewBag.Title = "Изменение пароля";

}

@Styles.Render("~/Content/PersonalDataStyles.css")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/PersonalDataScripts.js")

@using (Html.BeginForm("PasswordChange", "Authentication", FormMethod.Post, new { id = "center-form" }))
{
    if (ViewBag.wrongMessage != null)
    {
        <span class="WrongPass">@ViewBag.wrongMessage</span>
    }
    @Html.ValidationMessageFor(model => model.OldPassword, null, new { @class = "WrongPass" })
    @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "WrongPass" })
    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "WrongPass" })

    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "areastyle-two areastyle-pass", PlaceHolder = "Текущий пароль*" } })
    <div class="new-pass">

        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "areastyle-two areastyle-pass", PlaceHolder = "Новый пароль*" } })
        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "areastyle-two areastyle-pass", PlaceHolder = "Подтвердите пароль*" } })

        <div id="SaveButton-pass">
            <button type="button" id="back-btn" class="savebut savebut-pass" onclick="document.location='PersonalData'">Назад</button>
            <button class="savebut savebut-pass">Сохранить</button>
        </div>

    </div>
}