@using System.Web.UI.WebControls
@using MasterReservation.Models
@using MasterReservation.Utilities
@model ChangePasswordModel


@{
    ViewBag.Title = "Личные данные";

}

@Styles.Render("~/Content/PersonalDataStyles.css")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/PersonalDataScripts.js")

@using (Html.BeginForm("PasswordChange", "Authentication", FormMethod.Post, new {}))
{
    <div>
        @Html.EditorFor(model => model.OldPassword, new {htmlAttributes = new {@class = "areastyle-two", PlaceHolder = "Текущий пароль*"}})
        @Html.EditorFor(model => model.NewPassword, new {htmlAttributes = new {@class = "areastyle-two", PlaceHolder = "Новый пароль*"}})
        @Html.EditorFor(model => model.ConfirmPassword, new {htmlAttributes = new {@class = "areastyle-two", PlaceHolder = "Подтвердите пароль*"}})
        
        <div id="SaveButton">
            <button id="savebut">Сохранить</button>
        </div>

    </div>
}