@using System.Web.UI.WebControls
@using MasterReservation.Models
@using MasterReservation.Utilities
@model RegisterMasterModel


@{
    ViewBag.Title = "Личные данные";


}

@Styles.Render("~/Content/PersonalDataStyles.css")
@Scripts.Render("~/Scripts/jquery.maskedinput.min.js")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Scripts/PersonalDataScripts.js")
@if (Model.IsAdmin)
{
    <button onclick="document.location = '../Admin/SalonShow'">Панель администратора</button>
}

@if (ViewBag.IsAdminOfSalon)
{
    <button onclick="document.location = '@Url.Action("ShowBookedResidents")'">Просмотр забронированых мест</button>
}

@using (Html.BeginForm("UpdateResident", "Authentication", FormMethod.Post, new { @id = "MainBlock", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.id)

    <div id="BlockOne">


        <div id="photo-wrap">
            <img src="~/Resources/img/avatar-default.png" id="avatar">
            <input type="file" name="upload" id="picField" size="24" onchange="" alt="" />

        </div>

        <div id="textboxes">
            <div class="input-wrap">

                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "areastyle", PlaceHolder = "Имя*" } })
                <img src="~/Resources/svg/pencil.svg" class="editbutton">
            </div>

            <div class="input-wrap">
                @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "areastyle", PlaceHolder = "Фамилия*" } })
                <img src="~/Resources/svg/pencil.svg" class="editbutton">
            </div>

            <div class="input-wrap">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "areastyle", PlaceHolder = "Email*", disabled = "disabled" } })
                <img src="~/Resources/svg/pencil.svg" class="editbutton">
            </div>


            <div class="input-wrap">
                @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "areastyle phone-mask", PlaceHolder = "Телефон*" } })
                <img src="~/Resources/svg/pencil.svg" class="editbutton">
            </div>
        </div>

    </div>

    <div id="BlockTwo">
        <div id="headertwo">
            <span id="personitems">Личные данные</span>

        </div>
        <div>


            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "WrongPass" })
            @Html.ValidationMessageFor(model => model.Surname, null, new { @class = "WrongPass" })
            @Html.ValidationMessageFor(model => model.PhoneNumber, null, new { @class = "WrongPass" })
            @Html.ValidationMessageFor(model => model.Offers, null, new { @class = "WrongPass" })
            @Html.ValidationMessageFor(model => model.Expirience, null, new { @class = "WrongPass" })
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "WrongPass" })
            @{
                if (ViewBag.wrongMessage != null)
                {
                    <span class="WrongPass">@ViewBag.wrongMessage</span>
                }

                if (ViewBag.successMessage != null)
                {
                    <span class="success-message">@ViewBag.successMessage</span>
                }
            }
        </div>

        <div id="BlockTwoContent">
            <span id="AddedStyle">Предоставляемые услуги</span>
            <div id="AddedOffers">

                <div id="offers-wrap">
                    @{
                        string[] mas = new string[] { };

                        try
                        {
                            mas = Model.Offers.Split(';');
                            for (int i = 0; i < mas.Length - 1; i++)
                            {
                                <div class="offer">
                                    <span>@mas[i]</span>
                                    <img src="~/Resources/img/cross-black.png" />
                                </div>
                            }

                        }
                        catch (Exception e)
                        {

                        }
                    }
                    @Html.EditorFor(model => model.Offers, new { htmlAttributes = new { @class = "hidden-input", id = "hidden-offers" } })
                </div>

            </div>

            <div class="childone">
                <div id="input-offers-wrap" class="contextmenu">
                    <input class="field" id="input-offers" type="text" autocomplete="off" placeholder="Предоставляемые услуги">
                    <img src="~/Resources/svg/down-arrow.svg">
                    <div id="itemss" class="dropdown-menu">



                    </div>
                </div>
                @Html.EditorFor(model => model.Expirience, new { htmlAttributes = new { @class = "jobscore", PlaceHolder = "Стаж Работы" } })
            </div>

            <div class="childtwo">

                <div>

                    @Html.TextAreaFor(model => model.Awards, new { id = "childarea", PlaceHolder = "Имеющиеся награды" })
                </div>

                @*<div id="orientationChildTwo">
                        <span id="ChosePass">Смена пароля</span>
                    </div>*@

                <div class="ChildTwoOffers">

                    @*<div class="input-wrap-two">*@
                    @*@Html.EditorFor(model => model.Password, new { htmlAttributes=new{@class = "areastyle-two", PlaceHolder = "Текущий пароль*" }})*@
                    @*<input type="text" class="areastyle-two" placeholder="Текущий пароль*">*@
                    @*</div>*@


                    <div class="input-wrap-twoOrient">

                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "areastyle-two", PlaceHolder = "Текущий пароль*" } })
                    </div>


                    @*<div class="input-wrap-twoOrient">
                            @Html.EditorFor(model => model.SumbitPassword, new { htmlAttributes = new { @class = "areastyle-two", PlaceHolder = "Текущий пароль*" } })
                        </div>*@
                </div>

                <div id="SaveButton">
                    <button class="savebut">Сохранить</button>
                </div>




            </div>

        </div>
    </div>
}

@using (Html.BeginForm("PasswordView", "TimerClub", FormMethod.Post, new { @id = "change-pass-btn" }))
{

    <button class="savebut">Изменить пароль</button>

}



<div id="hidden-offers">
    <div>Парикмахерские услуги</div>
    <div>Педикюр</div>
    <div>Массаж</div>
    <div>Визаж</div>
    <div>Шугаринг</div>
</div>

<script>
    $(".phone-mask").mask("+7(999)9999999");
</script>
