@model List<MasterReservation.Models.FavoriteModel>
@{
    ViewBag.Title = "Избранное";
}

@Styles.Render("~/Content/ViewFavoritesStyles.css")


<div id="background-overlay"></div>

<div id="body-container">
    <div id="page-title">
        <span id="main-title">Избранное</span>
        <span id="sub-title">Здесь отображается список ваших любимых студий</span>
    </div>
    <div class="cards-wrap">
        @if (Model.Count != 0)
        {
             foreach (var model in Model)
             {
                 <div class="favorite-card">
                     <img class="photo" src="~/Resources/img/default-card-img.png"></img>
                     <div class="card-description">
                         <span class="card-title">@(model.SalonTitle)</span>
                         <span class="adress">@(model.SalonAdress)</span>
                         <span class="tariffs-title">Тарифы на аренду рабочего места</span>
                         <div class="table-wrap">
                             <div class="first-line">
                                 <span class="bold-text">От 1 часа</span>
                                 <span class="bold-text">От 3х часов</span>
                                 <span class="bold-text">От 12 часов</span>
                             </div>
                             <div class="second-line">
                                 <span class="bold-text">@(model.Rate1h)р</span>
                                 <span class="bold-text">@(model.Rate3h)р</span>
                                 <span class="bold-text">@(model.Rateday)р</span>
                             </div>
                         </div>
                         <button class="detail-btn" onclick="document.location = '@Url.Action("WorkingPlacePage", new {id = model.PlaceId})'">Подробнее</button>

                    </div>
                 </div >
            }
        }
        else
        {
            <span class="info-message center">Вы еще не добавляли места в избранное</span>
        }


    </div>
</div>