@using System.Web.Hosting
@using MasterReservation.Models
@model List<MasterReservation.Models.FavoriteModel>
@{
    ViewBag.Title = "Избранное";
}

@Styles.Render("~/Content/ViewFavoritesStyles.css")


<div id="background-overlay"></div>

<div id="body-container">
    <div id="page-title">
        <span id="main-title">Избранное</span>
        <span id="sub-title">Здесь отображается список ваших любимых студий</span>
    </div>
    <div class="cards-wrap">
        @if (Model.Count != 0)
        {
             foreach (var model in Model)
             {
                <div class="favorite-card">
                    <div class="img-wrap">
                        @{
                            string path = HostingEnvironment.ApplicationHost.GetPhysicalPath() + @"\SalonPhoto\" + (model.PlaceId);
                            DirectoryInfo dirInfo = new DirectoryInfo(path);
                            FileInfo[] files = new FileInfo[] { };

                            try
                            {
                                files = dirInfo.GetFiles();

                                if (files.Length == 0)
                                {

                                    <img class="photo" src="~/Resources/svg/default-place.svg">

                                }

                                byte[] array = File.ReadAllBytes(files[0].FullName);


                                @Html.Raw("<img class='photo' src=\"data:image/jpeg;base64,"
                                          + Convert.ToBase64String(array) + "\" />")

                            }
                            catch (Exception e)
                            {
                            
                                <img class="photo" src="~/Resources/svg/default-place.svg">

                            }
                        }
                    </div>
                    <div class="card-description">
                        <span class="card-title">@(model.SalonTitle)</span>
                        <span class="adress">@(model.SalonAdress)</span>
                        <div class="table-layout">
                            <div class="gray-wrap">
                                <span class="tariffs-title">Тарифы на аренду рабочего места</span>
                                <table class="table-wrap">
                                    <tr class="first-line">
                                        <th class="bold-text">Час</th>
                                        <th class="bold-text">День</th>
                                        <th class="bold-text">15 смен</th>
                                        <th class="bold-text">Месяц</th>
                                    </tr>
                                    <tr class="second-line">
                                        <td class="bold-text">@(model.Rate1h)р</td>
                                        <td class="bold-text">@(model.Rateday)р</td>
                                        <td class="bold-text">@(model.RateHalfMounth)р</td>
                                        <td class="bold-text">@(model.RateMounth)р</td>
                                    </tr>
                                </table>
                            </div>
                            <button class="detail-btn" onclick="document.location = '@Url.Action("WorkingPlacePage", new {id = model.PlaceId})'">Подробнее</button>

                        </div>
                    </div>
                    <button class="detail-btn btn-mobile" style="display: none;" onclick="document.location = '@Url.Action("WorkingPlacePage", new {id = model.PlaceId})'">
                        <img style="transform: rotate(270deg);" src="~/Resources/svg/down-arrow-white.svg" alt="Alternate Text" />
                    </button>
                </div>
            }
        }
        else
        {
            <span class="info-message center">Вы еще не добавляли места в избранное</span>
        }


    </div>
</div>