@model MasterReservation.Models.RegisterMasterModel

@{
    ViewBag.Title = "Страница рабочего места";
}


@Styles.Render("~/Content/datepicker.css")
@Styles.Render("~/Content/slick/slick.css")
@Styles.Render("~/Content/slick/slick-theme.css")
@Styles.Render("~/Content/WorkingPlacePageStyles.css")


<script src="https://api-maps.yandex.ru/2.1/?apikey=8db9bf80-135a-40b0-9e06-66adc66fd9b3&lang=ru_RU"
        type="text/javascript"></script>
@Scripts.Render("~/Scripts/jquery-ui-1.12.1.min.js")
@Scripts.Render("~/Scripts/datepicker.js")
@Scripts.Render("~/Scripts/slick.min.js")
@Scripts.Render("~/Scripts/WorkingPlacePageScripts.js")


<div id="body-container">
    <div id="left-bar">
        <div id="slider-photo">
            <div class="img-wrap">
                <img src="~/Resources/img/default-card-img.png" alt="">
            </div>
            <div class="img-wrap">
                <img src="~/Resources/img/default-card-img.png" alt="">
            </div>
            <div class="img-wrap">
                <img src="~/Resources/img/default-card-img.png" alt="">
            </div>
            <div class="img-wrap">
                <img src="~/Resources/img/default-card-img.png" alt="">
            </div>
            <div class="img-wrap">
                <img src="~/Resources/img/default-card-img.png" alt="">
            </div>
        </div>
        <div id="main-description">
            <span id="destription-title">
                Первый в городе Ижевске салон красоты с детской игровой комнатой!
            </span>
            <ul id="description-body">
                <li class="description-line">все виды парикмахерских услуг</li>
                <li class="description-line">стрижки</li>
                <li class="description-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, reprehenderit!</li>
                <li class="description-line">Lorem ipsum dolor sit amet.</li>
                <li class="description-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident magni, animi vero! Totam aliquam, accusantium?</li>
                <li class="description-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, id!</li>
                <li class="description-line">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, iure.</li>
                <li class="description-line">Lorem ipsum dolor.</li>
                <li class="description-line">Lorem ipsum dolor sit amet.</li>
                <li class="description-line">Lorem ipsum dolor sit.</li>
                <li class="description-line">Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
                <li class="description-line">Lorem.</li>
            </ul>
        </div>
    </div>
    <div id="right-bar">
        <div class="card-description">
            <div class="card-title">
                <span class="card-title-text">Студия красоты Beauty Forest</span>
                <svg version="1.1" class="heart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     width="17px" height="15px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                <g id="favorite">
                <path d="M255,489.6l-35.7-35.7C86.7,336.6,0,257.55,0,160.65C0,81.6,61.2,20.4,140.25,20.4c43.35,0,86.7,20.4,114.75,53.55
								C283.05,40.8,326.4,20.4,369.75,20.4C448.8,20.4,510,81.6,510,160.65c0,96.9-86.7,175.95-219.3,293.25L255,489.6z" />

						</g>
					</svg>
                <button id="show-map-btn" class="blue-button">Показать на карте<div id="map"></div></button>
                
            </div>
            <span class="address">Пушкинская, 239</span>
            <span class="tariffs-title">Тарифы на аренду рабочего места</span>
            <div class="tariffs-wrap">
                <div class="tariff-line bold-line">
                    <div class="tariff">1 час</div>
                    <div class="tariff">День</div>
                    <div class="tariff">15 смен</div>
                    <div class="tariff">Месяц</div>
                </div>
                <div class="tariff-line">
                    <div class="tariff">500 р</div>
                    <div class="tariff">1500 р</div>
                    <div class="tariff">5500 р</div>
                    <div class="tariff">16000 р</div>
                </div>
            </div>
        </div>
        <div id="record-day">
            <span>Доступное время записи на:</span>
            <div id="input-date-wrap">
                <img src="~/Resources/svg/left-arrow.svg" id="prev-day">
                <span id="input-date">21 Июля</span>
                <input type="text" class="hidden-input" id="chosen-date">
                <img src="~/Resources/svg/right-arrow.svg" id="next-day">
            </div>
            <button class="blue-button" id="calendar-btn">
                Календарь
                <div id="calendar-wrap"></div>
            </button>

        </div>
        <div id="input-time-wrap">
            <button class="button-time">8:00-8:30</button>
            <button class="button-time">8:30-9:00</button>
            <button class="button-time">9:00-9:30</button>
            <button class="button-time">9:30-10:00</button>
            <button class="button-time">10:00-10:30</button>
            <button class="button-time">10:30-11:00</button>
            <button class="button-time">11:00-11:30</button>
            <button class="button-time white-button">11:30-12:00</button>
            <button class="button-time white-button">12:00-12:30</button>
            <button class="button-time white-button">12:30-13:00</button>
        </div>
        <input type="text" class="hidden-input" id="input-times">
        <div id="checkbox-wrap">
            <input type="checkbox" id="full-day-checkbox">
            <span id="checkbox-label">Забронировать весь рабочий день</span>
        </div>
        <textarea id="textarea" placeholder="Дополнительные требования"></textarea>
        <div id="total-time">
            <span class="total-label">Вы записываетесь на:</span>
            <span id="total-bold">21 Июля, с 13:00 до 16:00 (3 часа)</span>
        </div>
        <div id="total-money">
            <span class="total-label">Итого к оплате:</span>
            <span id="total-sum">1500р</span>
        </div>
        <button class="blue-button" id="booked-btn">Забронировать</button>
    </div>
</div>